/*
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
*/
:root {
  --primaryColor : #363753;
  --primaryText : #AAD3AC;
}

body {
  background-color: var(--primaryColor);
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.navbar {
  background-color: var(--primaryColor) !important;
  border-bottom: 20px solid white;
  font-family: 'Rubik', sans-serif;
}

.navbar-brand {
  color: var(--primaryText);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.navbar-brand:hover {
  color: white;
}

.nav-link
  {
  color: white !important;
  font-weight: 500;
  }

.nav-link.active {
  color: white !important;
  border-bottom: 2px solid white;  
}

.top-header .title {
  color: var(--primaryText);
  font-weight: 700;
  font-size: 5rem;
  line-height: -1rem !important;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.top-header span {
  font-weight: 600;
  font-size: 2rem;
  line-height: 108.1%;
  color: #FFFFFF;
}

.stetoskop {
  position: absolute;
  width: 17rem;
  height: 15rem;
  top: 21rem;
  right: 0;
/* transform: matrix(-0.95, -0.31, -0.31, 0.95, 0, 0); */
}

.primary-btn {
  font-family: 'Poppins', sans-serif;
  background-color: #63CFC6;
  border-radius: 44px;
  font-weight: 600;
  font-size: 30px;
  border: none;
}

.primary-btn:hover {
  background-color: white;
}

.stunting-img {
  width: 100%;
  height: 60rem;
}

.card-body .title{
  font-weight: 600;
  font-size: 3rem;
}

.card-body .subtitle{
  font-size: 2rem;
  text-align: justify;
}

.title-text {
  color: var(--primaryText);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.disclaimer {
  font-family: 'Rubik', sans-serif;
  background-color: #9FC492;
  margin-top: 9rem;
}

.font-icon-wrapper.active {
  background-color: white;
  color: black !important;
  border: none !important;
}

.font-icon-wrapper {
  cursor: pointer;
}